<%- include('./_partial/header.ejs'); %>
<%- include('./_components/frame-top.ejs'); %>
<%- include('./_components/content-start.ejs'); %>

<img src=/img/title/rslogo.gif width=250 height=150>

<table width=400>
  <tr>
    <td>
      <center>
        <span style="font-size:14px; color:white;">Tournament status: LIVE</span>
      </center>
    </td>
  </tr>
</table>

<br>

<%- include('./_components/stones-border-top.ejs'); %>
<%- include('./_components/stones-content-start.ejs'); %>
<img src=/img/title/blank.gif height=7 width=1><br>

<b>Latest News and Updates</b><br>

<table bgcolor=black cellpadding=0 cellspacing=0>
  <tr valign=top>
    <td width=100 align=center><a href='/news'><img src=/img/title/mm_scroll.jpg border=0></a></td>
    <td width=350>
      <center>
        <table height=130>
          <tr>
            <td>
              <table width=350>
                <% for (let i = 0; i < newsposts.length; i++) { const post = newsposts[i]; const day = post.created.getDate(); const month = post.created.toLocaleString('default', { month: 'short' }); const year = post.created.getFullYear(); %>
                <tr><td><a href="/news/<%= post.id %>" class=c><%= post.title %></a></td><td align="right"><%= day %>-<%= month %>-<%= year %></td></tr>
                <% } %>
              </table>
            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
</table>
To view a full list of news and updates, click <a href="/news" class=c>here</a>.<br>
<%- include('./_components/stones-content-end.ejs'); %>
<%- include('./_components/stones-border-bottom.ejs'); %>

<br>

<%- include('./_components/stones-border-top.ejs'); %>
<%- include('./_components/stones-content-start.ejs'); %>
<%- include('./_components/options-start.ejs'); %>
<table width="100%" style="text-align: center;">
  <tr>
    <!-- Play Now block -->
    <td style="vertical-align: middle; padding: 10px;">
      <a href="/detail">
        <img src="/img/title/sword-new.jpg" width="120" height="120" border="0" alt="Play Now">
      </a>
      <br>
      <a href="/detail" style="display: inline-block; width: 100px; background: #570700 url('/img/title/shinystonered.jpg') repeat; color: white; font-weight: bold; padding: 10px 0; text-decoration: none;">
        Play<br>Now
      </a>
    </td>

    <!-- Hiscores Table block -->
    <td style="vertical-align: middle; padding: 10px;">
      <a href="/hiscores">
        <img src="/img/title/mm_chalice.jpg" width="77" height="120" border="0" alt="Hiscores Table">
      </a>
      <br>
      <a href="/hiscores" style="display: inline-block; width: 100px; background: #474747 url('/img/stoneback.gif') repeat; color: white; font-weight: bold; padding: 10px 0; text-decoration: none;">
        Hiscores<br>Table
      </a>
    </td>

    <!-- Source Code block -->
    <td style="vertical-align: middle; padding: 10px;">
      <a href="https://github.com/04DMM/04dmm/wiki">
        <img src="/img/title/mm2_rs2b.jpg" border="0" alt="Source Code" style="max-height: 120px;">
      </a>
      <br>
      <a href="https://github.com/04DMM/04dmm/wiki" style="display: inline-block; width: 100px; background: #474747 url('/img/stoneback.gif') repeat; color: white; font-weight: bold; padding: 10px 0; text-decoration: none;">
        Game<br>Wiki
      </a>
    </td>
  </tr>
</table>
<%- include('./_components/options-end.ejs'); %>
<%- include('./_components/stones-border-bottom.ejs'); %>

<br>

<%- include('./_components/stones-border-top.ejs'); %>
<%- include('./_components/stones-content-start.ejs'); %>
<%- include('./_components/options-start.ejs'); %>


<table>
  <tr>
    <!-- Discord image cell -->
    <td valign="middle" align="center">
      <a href="https://discord.gg/jT9SGcjH6r">
        <img src="/img/title/discord-new.gif" width="127" height="120" border="0" alt="Discord">
      </a>
    </td>

    <!-- Text block cell -->
    <td valign="middle" align="left" style="padding-left: 10px;">
      <table width="100" height="45" bgcolor="black" cellpadding="2" style="margin-bottom: 5px;">
        <tr>
<td class="b" bgcolor="#474747" background="/img/stoneback.gif" style="text-align: center;">
  <a href="https://discord.gg/jT9SGcjH6r" style="color: inherit; text-decoration: none;">
    <b>Discord</b>
  </a>
</td>
        </tr>
      </table>
      Join the community!<br>
    </td>
  </tr>
</table>
<%- include('./_components/stones-content-end.ejs'); %>
<%- include('./_components/stones-border-bottom.ejs'); %>



